/.vs
/PrjWinFormAtividadesLogicaCalculadoraSimples/bin
/PrjWinFormAtividadesLogicaCalculadoraSimples/obj
/PrjWinFormsAtividadesLogica/bin
/PrjWinFormsAtividadesLogica/obj
/SlnAtivdadedeLogica/.vs
/SlnAtivdadedeLogica/PjtAtivdadedeLogica/bin
/SlnAtivdadedeLogica/PjtAtivdadedeLogica/obj
